@model EmployeeForms.ViewModels.EmpSetDetailsVm

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Employee Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post">

            <input asp-for="EmployeesSet.Id" hidden />


            <div class="border p-4 mt-4">

                <div class="row pb-2">
                    <h2 class="text-primary">Edit Application Form</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@

                <div class="accordion" id="accordionForm">

                    <!-- Personal Details -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="personalDetailsHeading">
                            <button class="accordion-button" style="border-top:2px solid" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetailsCollapse" aria-expanded="true" aria-controls="personalDetailsCollapse">
                                Personal Details
                            </button>
                        </h3>
                        <div id="personalDetailsCollapse" class="accordion-collapse" aria-labelledby="personalDetailsHeading" data-bs-parent="#accordionForm">
                            <div class="accordion-body">
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.FirstName" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.FirstName" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.LastName" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.LastName" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.LastName" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.EmployeeCode" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.EmployeeCode" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.EmployeeCode" class="text-danger"></span>
                                </div>

                                @*<div class="form-floating py-2 col-12">
                                <input asp-for="DateOfBirth" class="form-control border-0 shadow" type="date" />
                                <label asp-for="DateOfBirth" class="form-label ms-2">Date of Birth</label>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>*@

                                <div class="form-floating py-2 col-12">
                                    <select asp-for="EmployeesSet.Gender" class="form-select border-0 shadow">
                                        <option value="">--Select Gender--</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="not-specified">Prefer Not to Say</option>
                                    </select>
                                    <label asp-for="EmployeesSet.Gender" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.Gender" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <select asp-for="EmployeesSet.BloodGroup" class="form-select border-0 shadow">
                                        <option value="">--Select Blood Group--</option>
                                        <option value="A +ve">A +ve</option>
                                        <option value="A -ve">A -ve</option>
                                        <option value="B +ve">B +ve</option>
                                        <option value="B -ve">B -ve</option>
                                        <option value="AB +ve">AB +ve</option>
                                        <option value="AB -ve">AB -ve</option>
                                        <option value="O +ve">O +ve</option>
                                        <option value="O -ve">O -ve</option>
                                    </select>
                                    <label asp-for="EmployeesSet.BloodGroup" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.BloodGroup" class="text-danger"></span>
                                </div>

                                <!-- Buttons save and cancel -->

                                <div class="accordion-footer mt-1">
                                    <button class="btn btn-primary save-form-data" type="button">Save</button>
                                    <button class="btn btn-outline-secondary cancel-form-data" type="button">Cancel</button>
                                </div>

                            </div>

                        </div>
                    </div>

                    <br />

                    <!-- Bank Details -->
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="bankDetailsHeading">
                            <button class="accordion-button" style="border-top:2px solid" type="button" data-bs-toggle="collapse" data-bs-target="#bankDetailsCollapse" aria-expanded="true" aria-controls="bankDetailsCollapse">
                                Bank Details
                            </button>
                        </h3>
                        <div id="bankDetailsCollapse" class="accordion-collapse" aria-labelledby="bankDetailsHeading" data-bs-parent="#accordionForm">
                            <div class="accordion-body">
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.AccountNo" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.AccountNo" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.AccountNo" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.IFSCCode" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.IFSCCode" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.IFSCCode" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.Branch" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.Branch" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.Branch" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <input asp-for="EmployeesSet.BankName" class="form-control border-0 shadow" />
                                    <label asp-for="EmployeesSet.BankName" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.BankName" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <select asp-for="EmployeesSet.AccountType" class="form-select border-0 shadow">
                                        <option value="">--Select Account Type--</option>
                                        <option value="savings Account">Savings Account</option>
                                        <option value="current Account">Current Account</option>
                                        <option value="NRI Account">NRI Account</option>
                                        <option value="Salary Account">Salary Account</option>
                                    </select>
                                    <label asp-for="EmployeesSet.AccountType" class="ms-2"></label>
                                    <span asp-validation-for="EmployeesSet.AccountType" class="text-danger"></span>
                                </div>

                                <!-- Buttons save and cancel -->

                                <div class="accordion-footer mt-1" style="margin-right:1cm">
                                    <button class="btn btn-primary save-form-data" type="button">Save</button>
                                    <button class="btn btn-outline-secondary cancel-form-data" type="button">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <!-- Address Details -->
                <div class="accordion-item">
                    <h3 class="accordion-header" id="addressDetailsHeading">
                        <button class="accordion-button" style="border-top:2px solid" type="button" data-bs-toggle="collapse" data-bs-target="#addressDetailsCollapse" aria-expanded="true" aria-controls="addressDetailsCollapse">
                            Address Details
                        </button>
                    </h3>
                    <div id="addressDetailsCollapse" class="accordion-collapse" aria-labelledby="addressDetailsHeading" data-bs-parent="#accordionForm">
                        <div class="accordion-body">
                            <div class="form-floating py-2 col-12">
                                <input asp-for="EmployeesSet.AddresssLine1" class="form-control border-0 shadow" />
                                <label asp-for="EmployeesSet.AddresssLine1" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.AddresssLine1" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="EmployeesSet.AddressLine2" class="form-control border-0 shadow" />
                                <label asp-for="EmployeesSet.AddressLine2" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.AddressLine2" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="EmployeesSet.City" class="form-control border-0 shadow" />
                                <label asp-for="EmployeesSet.City" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.City" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="EmployeesSet.State" class="form-control border-0 shadow" />
                                <label asp-for="EmployeesSet.State" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.State" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="EmployeesSet.Pincode" class="form-control border-0 shadow" />
                                <label asp-for="EmployeesSet.Pincode" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.Pincode" class="text-danger"></span>
                            </div>

                            <!-- Buttons save and cancel -->
                            <div class="accordion-footer mt-1" style="margin-right:1cm">
                                <button class="btn btn-primary save-form-data" type="button">Save</button>
                                <button class="btn btn-outline-secondary cancel-form-data" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <!-- Select Dept -->
                <div class="accordion-item">
                    <h3 class="accordion-header" id="departmentHeading">
                        <button class="accordion-button" style="border-top:2px solid" type="button" data-bs-toggle="collapse" data-bs-target="#departmentCollapse" aria-expanded="true" aria-controls="departmentCollapse">
                            select your department
                        </button>
                    </h3>
                    <div id="departmentCollapse" class="accordion-collapse" aria-labelledby="departmentHeading" data-bs-parent="#accordionForm">
                        <div class="accordion-body">
                            <div class="form-floating py-2 col-12">
                                <select asp-for="@Model.EmployeesSet.DepartmentId" asp-items="@Model.DeptList" class="form-select border-0 shadow">
                                    <option selected>--select Department--</option>
                                </select>
                                <label asp-for="EmployeesSet.DepartmentId" class="ms-2"></label>
                                <span asp-validation-for="EmployeesSet.DepartmentId" class="text-danger"></span>
                            </div>

                            @*<!-- Buttons save and cancel -->
                            <div class="accordion-footer mt-1" style="margin-right:1cm">
                            <button class="btn btn-primary save-form-data" type="button">Save</button>
                            <button class="btn btn-outline-secondary cancel-form-data" type="button">Cancel</button>
                            </div>*@
                        </div>
                    </div>
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>

                @*<div class="col-6 col-md-3">
                    <button type="reset" class="btn btn-outline-danger form-control clear-all-data">Clear Data</button>
                </div>*@

                <div class="col-6 col-md-3">
                    <a asp-controller="EmployeesSet" asp-action="Index" class="btn btn-outline-secondary form-control">
                        Back
                    </a>
                </div>

            </div>
        </form>
    </div>

    @*<div id="previewArea">
    <div class="col-6 col-md-3">
    <button type="button" class="btn btn-outline-dark form-control preview-data">Preview</button>
    </div>
    </div>*@

    <br />
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(function () {
            $('.save-form-data').click(function () {
                var accordionItem = $(this).closest('.accordion-item'); // Get the parent accordion item

                // Find all input fields within the accordion item and retrieve their values
                var formData = {};
                accordionItem.find('input, select').each(function () {
                    var fieldType = $(this).attr('type');
                    var fieldName = $(this).attr('name');
                    var fieldValue;

                    if (fieldType === 'checkbox') {
                        fieldValue = $(this).is(':checked');
                    } else {
                        fieldValue = $(this).val();
                    }

                    formData[fieldName] = fieldValue;
                });

                // Check if any data is entered in the accordion item
                var isDataEntered = Object.values(formData).some(function (value) {
                    return value !== '';
                });

                if (!isDataEntered) {
                    alert('No data is present. Please fill in the data.');
                    return;
                }

                // Log the form data to the console
                console.log(formData);

                // Create an inspect form with the form data
                var inspectForm = '';
                for (var field in formData) {
                    inspectForm += field + ': ' + formData[field] + '\n';
                }

                // Display the inspect form in an alert dialog
                alert("Data saved successfully! \n \n Saved Data : \n" + inspectForm);
            });

            $('.cancel-form-data').click(function () {
                var accordionItem = $(this).closest('.accordion-item'); // Get the parent accordion item

                // Clear all input fields within the accordion item
                accordionItem.find('input, select').val('');
            });

            $('.clear-all-data').click(function () {
                var accordionItems = $('.accordion-item');

                // Clear all input fields within each accordion item
                accordionItems.each(function () {
                    $(this).find('input, select').val('');
                });
            });
        });
    </script>
}
