@model List<EmployeesSet>

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Employee Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <h2 class="text-primary">
                    Employees list
                </h2>
            </div>

            <div class="col-6 text-end">
                <a asp-controller="EmployeesSet" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  New Employee
                </a>
            </div>
        </div>

        <table id="employeesSetTableData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Employee Code</th>
                    @*<th>Date Of Birth</th>*@
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Branch</th>
                    <th>Bank Name</th>
                    <th>Type of Account</th>
                    <th>Addresss Line1</th>
                    <th>Address Line2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>Department</th>
                    <th></th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/employeesSet.js"></script>
}